name: Linux Desktop Deployment

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  linux-deploy:
    name: Linux Desktop Deployment
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.24.0"
          channel: "stable"

      - name: Install Linux dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y clang cmake ninja-build pkg-config libgtk-3-dev liblzma-dev

      - name: Install dependencies
        run: flutter pub get

      - name: Build Linux
        run: flutter build linux

      - name: Upload Linux Release
        if: github.event_name == 'push'
        uses: actions/upload-artifact@v4
        with:
          name: linux-release
          path: build/linux/x64/release/bundle
