name: macOS Desktop Deployment

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  macos-deploy:
    name: macOS Desktop Deployment
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.24.0"
          channel: "stable"

      - name: Install dependencies
        run: flutter pub get

      - name: Build macOS
        run: flutter build macos

      - name: Upload macOS Release
        uses: actions/upload-artifact@v4
        with:
          name: macos-release
          path: build/macos/Build/Products/Release